@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .select-pic {
    @apply bg-cover 
     text-white
     p-16 my-16
     transition-all duration-500
     lg:h-[30rem] lg:w-[30rem]
     sm:h-[16rem] sm:w-[16rem]
     sm:blur-sm 
     opacity-50 
     rounded-md
     ;
  }

  .select-pic:hover {
    @apply lg:h-[36rem] lg:w-[36rem]
    sm:h-[20rem] sm:w-[20rem]
    blur-0 opacity-100
    shadow-[0_35px_60px_-5px_rgba(0,0,0,0.6)];
  }

  .tootlip {
    @apply text-red-500 bg-red-500;
  }
}